@keyframes lineExpandX {
  from {
    transform: scaleX(0);
    height: 10px;
  }
  to {
    transform: scaleX(1);
    height: 10px;
  }
}

.line-expand-x {
  animation: lineExpandX 3s forwards;
}

@keyframes lineExpandY {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    height: 90vh;
  }
}

@keyframes lineContractY {
  0% {
    transform: scaleY(1);
    height: 90vh;
  }
  100% {
    transform: scaleY(0);
  }
}

.line-expand-y {
  animation: lineExpandY 1s forwards;
}

.animate-line {
  animation: lineExpandX 1s forwards, lineExpandY 1s forwards,
    lineContractY 1s forwards;
  transform-origin: center;
  animation-delay: 0s, 1s, 7s;
  overflow-y: hidden;
}
