@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./styles/animation.css";
@import "./styles/font-face.css";

@layer utilities {
  .text-vertical {
    writing-mode: vertical-lr;
  }
  .text-upright {
    text-orientation: upright;
  }
  .border-top-1-quarter:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    border-top: 1px solid;
  }
}

.dotted {
  background-image: radial-gradient(#ccc 10%, transparent 10%),
    radial-gradient(#ccc 10%, transparent 10%);
  background-color: #fff;
  background-position: 0 0, 50px 50px;
  background-size: 50px 50px;
}
